* {
    a {
        color: white;
        text-decoration: none;
    }

    box-sizing: border-box;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    //justify-content: center;
    align-items: center;
    background-color: rgb(104, 33, 70);

    // .container {
    //     background-color: rgb(40, 45, 53);
    //     padding-inline: 1.4em;
    //     padding-block: 1.2em;
    //     width: max(35%, 30em);

    //     .nav {
    //         display: flex;
    //         width: 100%;
    //         justify-content: space-between;
    //         align-items: center;
    //         background-color: rgb(37, 38, 47) !important;
    //         padding-block: 0px 1.2em;

    //         .logo {
    //             display: flex;
    //             justify-content: center;
    //             align-items: center;
    //             gap: 0.5em;

    //             span {
    //                 color: rgb(97, 218, 251);
    //                 font-weight: 700;
    //                 font-size: 1.2em;
    //             }
    //         }

    //         .course {
    //             color: rgb(222, 235, 248);
    //             font-size: 0.8em;
    //             font-weight: 800;
    //         }
    //     }

    //     .section {
    //         padding-block: 1em 3em;
    //         .h1 {
    //             color: rgb(255, 255, 255);
    //             font-size: 2em;
    //         }

    //         .list {
    //             width: 25em;
    //             li {
    //                 color: rgb(222, 235, 248);
    //                 padding-block: 0.3em;

    //                 &::marker {
    //                     color: rgb(97, 218, 251);
    //                     font-size: 1.5em;
    //                 }
    //             }
    //         }
    //     }
    // }
}

.newItem {
    display: flex;
    flex-direction: column;
    gap: 1em;

    label {
        color: white;
        font-weight: 600;
        font-size: 2em;
    }
    input {
        padding: 15px;
        border-radius: 5px;
        border: none;
        outline: none;
    }
    button {
        padding: 13px;
        width: 20%;
        align-self: flex-end;
        border-radius: 5px;
        outline: none;
        border: none;
        font-weight: 700;
        transition: all 0.5s ease-in-out;
        &:hover {
            color: white;
            background-color: rgb(104, 33, 70);
            border: 1px solid white;
            box-shadow: 1px 1px 10px 1px rgb(158, 158, 158);
        }
    }
}

.todoitem {
    .list {
        display: grid;
        gap: 1em;
    }
    h1 {
        color: rgb(255, 238, 246);
    }
    .items {
        display: flex;
        align-items: center;
        gap: 0.4em;

        label {
            color: white;
            text-transform: uppercase;
        }
        button {
            padding: 5px 10px;
            border-radius: 4px;
            border: none;
            font-weight: 600;
            background-color: rgb(255, 0, 76);
            color: white;
        }
    }
    .checked {
        display: flex;
        align-items: center;
        gap: 0.4em;

        label {
            color: white;
            text-transform: uppercase;
            opacity: 0.3;
            text-decoration: line-through;
        }
        button {
            padding: 5px 10px;
            border-radius: 4px;
            border: none;
            font-weight: 600;
            background-color: rgb(255, 0, 76);
            color: white;
        }
    }
}

@media screen and (min-width: 300px) and (max-width: 768px) {
    .newItem {
        width: 80%;
        button {
            width: 30%;
            padding: 10px;
        }
    }
    .todoitem {
        width: 80%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1920px) {
    .newItem {
        width: 50%;
    }
    .todoitem {
        width: 50%;
    }
}
